/.rspec_failures
/.rubocop-*
/*.gem

Gemfile.lock

/_misc/
/coverage/
/log/
/tmp/

/extra/*/log
/extra/*/tmp
/spec/dummy_rails/log
/spec/dummy_rails/tmp
/spec/dummy_rails/db/*.sqlite3
/spec/dummy_rails/db/*.sqlite3-*
